In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('data/book_reviews.csv')
df.head(10)

   Unnamed: 0  User-ID        ISBN  Book-Rating
0        1083   277195  0060391626           10
1        1084   277195  0060502258            0
2        1089   277195  0060987561            0
3        1098   277195  0316666343            0
4        1099   277195  0316734837            0
5        1100   277195  0330332775           10
6        1103   277195  0345413881            0
7        1106   277195  0375724672            0
8        1107   277195  037582233X            0
9        1110   277195  0385475721            0

In [14]:
dfpivot = df.pivot(index='User-ID' , columns='ISBN', values ='Book-Rating')
dfpivot = dfpivot.fillna(value=-1)

In [19]:
u, s, v = np.linalg.svd(dfpivot.iloc[:100,:100].values)

In [21]:
dfpivot[:10,:10]

TypeError: unhashable type: 'slice'